<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="csss/index.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- the header of our EHR-->  
    <header>
      <nav class="navbar navbar-expand-sm">
        <div class="container-fluid nav-cont">
          <button
            class="navbar-toggler navbar-toggler-icon"
            data-bs-toggle="collapse"
            data-bs-target="#navColl"
          ></button>
          <div class="collapse navbar-collapse" id="navColl">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a href="#" class="nav-link text-light text_navbar">About</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link text-light text_navbar">Info</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link text-light text_navbar">Guide</a>
              </li>
            </ul>
          </div>
          <button class="btn btn-info btn-sm text_navbar">Sign in</button>
        </div>
      </nav>
    </header>
    <!-------------------------------------->

    <!--
        <div class="row">
          <button
            class="col bg-light info-btn"
            data-bs-toggle="collapse"
            data-bs-target="#ehr-info"
          >
            What is 1
          </button>
          <button
            class="col bg-light info-btn"
            data-bs-toggle="collapse"
            data-bs-target="#actors-info"
          >
            What is 2
          </button>
          <button
            class="col bg-light info-btn"
            data-bs-toggle="collapse"
            data-bs-target="#patient-info"
          >
            What is 3
          </button>
        </div>
        <div class="collapse bg-info container" id="ehr-info">ehr dd</div>
        <div class="collapse bg-info" id="actors-info">actors</div>
        <div class="collapse bg-info" id="patient-info">patient</div>
    -->

    <!-- the footer of our EHR--> 
    <footer class="bg-dark justify-content-center footer_base">
      <p class="text-light" style="text-align: center">contact us</p>
      <ul class="nav justify-content-center">
        <li class="nav-item"><a href="#" class="nav-link">G</a></li>
        <li class="nav-item"><a href="#" class="nav-link">G</a></li>
        <li class="nav-item"><a href="#" class="nav-link">G</a></li>
      </ul>
    </footer>

    <!-------------------------------------->

   
  </body>
</html>
